#letrai {
  width: 30%;
  border-right: 2px solid #222;
  background-color: grey;
  color: white;
  font-size: 20px;
}
.xeletrai {
  background-color: rgb(118, 69, 69);
  margin: 20px;
}
#letrai p {
  margin-left: 20px;
  margin-right: 20px;
}
