#phandau {
  width: 100wh;
  height: 20vh;
  background-color: blue;
}
.phanthan {
  display: flex;
}

#phan2 {
  background-color: grey;
  color: white;
  width: 45%;
  height: 280px;
  text-align: center;
  padding-top: 50px;
}
#xe1 {
  width: 110%;
  height: 300px;
  margin-left: 110%;
  margin-top: -220px;
}
h1 {
  font-size: 50px;
}

a {
  color: black;
  font-size: 35px;
  margin: auto;
}

#logothuonghieu {
  width: 250px;
  height: 150px;
}

#xe2 {
  border: 2px solid white;
  width: 70%;
  margin-left: 80px;
}

h3 {
  background-color: blue;
  width: 60%;
  border-radius: 0px 5px 5px 0px;
}
